<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acadgild.session6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.acadgild.session6.BookViewer"
            android:label="@string/title_activity_book_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.acadgild.session6.HeadingTabsActrivity"
            android:label="@string/title_activity_heading_tabs_actrivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>